@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

@keyframes levitate1 {
    0%, 100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-50%);
    }
}

@keyframes levitate2 {
    0%, 100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(25%);
    }
}

hr {
    width: 90vw;
    margin: auto;
}

.hero {
    height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    transition: all 0.3s;
}

.header:hover {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.header .logo,
.header .links {
    display: flex;
    align-items: center;
}

.logo {
    font-size: 1.5rem;
    gap: 20px;
}

.logo i {
    color: black;
    font-size: 2.5rem;
}

.links {
    font-size: 1.2rem;
    gap: 40px;
}

.links a {
    color: black;
    text-decoration: none;
    transition: all 0.3s;
}

.links a:hover {
    transform: translateY(-5px);
}

/* PROFILE */

.profile {
    margin-top: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /*
    background-color: #F9F9F9;
    */
}

.profile .name h1 {
    font-size: 4.5rem;
    margin-bottom: 10px;
}

.profile .name p {
    font-size: 1.3rem;
    margin-bottom: 30px;
}

.profile .social {
    font-size: 2rem;
    display: flex;
    gap: 20px;
}

.profile .social a {
    text-decoration: none;
    color: white;
    background-color: black;
    border: 2px solid transparent;
    display: flex;
    padding: 5px;
    transition: all 0.3s;
}

.profile .social a:hover {
    color: black;
    background-color: white;
    border: 2px solid black;
}

.profile-img img {
    width: 100%;
    height: auto;
    border-radius: 0 50% 0 0;
}

.page {
    width: 80vw;
    margin: auto;
}

.portfolio {
    margin: 150px 0;
    display: flex;
    gap: 50px;
}

.portfolio .content .info {
    display: inline-block;
    padding: 10px;
    margin-bottom: 20px;
    background-color: rgb(231, 231, 231);
    color: gray;
}

.portfolio .content .text h2 {
    display: flex;
    flex-wrap: wrap;
    font-size: 2.5rem;
    margin-bottom: 30px;
}

.portfolio .content .text p {
    margin-bottom: 20px;
}

.portfolio .content .link {
    margin-top: 62px;
    animation: levitate1 2s ease-in-out infinite;
}

.portfolio .content .link a {
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 15px 20px;
    transition: all 0.3s;
}

.portfolio .content .link a:hover {
    opacity: 0.8;
}

.services {
    margin-bottom: 150px;
}

.services > .info {
    display: inline-block;
    padding: 10px;
    margin-bottom: 20px;
    background-color: rgb(231, 231, 231);
    color: gray;
}

.services .content {
    display: flex;
    justify-content: space-between;
}

.content .itens .info {
    font-size: 1.7rem;
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.info i {
    font-size: 3rem;
}

.content .itens {
    width: 350px;
    border: 1px solid black;
}

.itens .text {
    padding: 20px;
}

.itens .html { color: #FF5C29; }

.itens .css { color: #3D9DD7; }

.itens .javascript { color: #F7E025; }

.projects > .info {
    display: inline-block;
    padding: 10px;
    margin-bottom: 20px;
    background-color: rgb(231, 231, 231);
    color: gray;
}

.projects .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.projects .itens {
    margin-bottom: 70px;
}

.content .itens .img {
    overflow: hidden;
}

.content img {
    width: 100%;
    height: auto;
    transition: all 0.5s;
    vertical-align: bottom;
}

.content img:hover {
    transform: scale(1.1);
}

.projects .itens .content {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    padding: 20px;
}

.projects .itens .content h3 {
    font-size: 1.7rem;
    margin-bottom: 10px;
}

.projects .itens .content a {
    color: white;
    background-color: black;
    text-decoration: none;
    padding: 15px 30px;
    margin-top: 20px;
    transition: all 0.3s;
}

.projects .itens .content a:hover {
    opacity: 0.8;
}

.projects .top {
    margin-bottom: 70px;
    text-align: center;
}

.top a {
    border-radius: 50%;
    color: white;
    background-color: black;
    text-decoration: none;
    padding: 10px;
    display: inline-flex;
    animation: levitate2 3s ease-in-out infinite;
    transition: all 0.5s;
}

.top a:hover {
    opacity: 0.8;
}

.top i {
    font-size: 3rem;
}

.footer {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 100px 0;
    font-size: 1.3rem;
}

.footer .logo i {
    font-size: 4rem;
    color: white;
}