@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.header-nav {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding: 0px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
}

.header-nav .nav-links {
    display: flex;
}

.header-nav .nav-links a { 
    text-decoration: none;
    padding: 15px 0;
    margin: 0 10px;
    border-bottom: 2px solid transparent;
    transition: border 0.2s ease;
}

.header-nav .nav-links a:first-child {
    margin-left: 0;
}

.header-nav .nav-links a:last-child {
    margin-right: 0;
}

    .nav-links a:nth-child(1) { color: #0669e4; }
    .nav-links a:nth-child(1):hover { border-bottom: 2px solid #0669e4; }

    .nav-links a:nth-child(2) { color: #C4170C; }
    .nav-links a:nth-child(2):hover { border-bottom: 2px solid #C4170C; }
    
    .nav-links a:nth-child(3) { color: #06AA48; }
    .nav-links a:nth-child(3):hover { border-bottom: 2px solid #06AA48; }
    
    .nav-links a:nth-child(4) { color: #FF6700; }
    .nav-links a:nth-child(4):hover { border-bottom: 2px solid #FF6700; }
    
    .nav-links a:nth-child(5) { color: #FB036F; }
    .nav-links a:nth-child(5):hover { border-bottom: 2px solid #FB036F; }
    
    .nav-links a:nth-child(6) { color: #1E4CB4; }
    .nav-links a:nth-child(6):hover { border-bottom: 2px solid #1E4CB4; }
    
    .nav-links a:nth-child(7) { color: #C4170C; }
    .nav-links a:nth-child(7):hover { border-bottom: 2px solid #C4170C; }

.header-nav .account {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.header-nav .account a {
    text-decoration: none;
    color: black;
}

.header-nav .account a:hover,
.header-nav .account .globo:hover {
    color: #1068e1;
}

.header-nav .account .globo i {
    font-size: 20px;
    margin-right: 5px;
}

.header {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #C4170C;
    padding: 0 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .menu {
    border: none;
    background-color: #C4170C;
    text-decoration: none;
    color: white;
    padding: 20px 0;
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

.header .menu i {
    font-size: 25px;
}

body.body-scroll-lock {
    overflow: hidden;
}

.menu-window-active {
    display: none;
}

.menu-window-active .menu-nav {
    width: 300px;
    height: 100svh;
    overflow-y: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    overflow-y: scroll;
    background-color: white;
    padding: 30px 0 0 25px;
    font-size: 20px;
}

.menu-window-active .menu-nav ul {
    margin-bottom: 50px;
    list-style: none;
    color: gray;
}

.menu-window-active .menu-nav ul:nth-child(1) li:last-child {
    padding-bottom: 50px;
    border-bottom: 2px solid lightgray;
}

.menu-window-active .menu-nav ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;
}

.menu-window-active .menu-nav ul i {
    display: flex;
    align-items: center;
    color: #C4170C;
}

.menu-window-active .menu-nav .account {
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.menu-window-active .menu-nav .account .text p {
    color: #C4170C;
    font-size: 16px;
    font-weight: 700;
    line-height: 3px;
}

.menu-window-active .menu-nav .account .text span {
    font-size: 12px;
    color: gray;
}

.menu-window-active .menu-nav .account i {
    margin: 0 10px 15px 0;
    font-size: 25px;
    color: gray;
}

.menu-window-active .menu-nav .globo {
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.menu-window-active .menu-nav .globo p {
    color: gray;
    font-size: 16px;
    font-weight: 300;
}

.menu-window-active .menu-nav .globo i {
    font-size: 25px;
    color: gray;
}

.menu-window-active .menu-background {
    position: fixed;
    top: 0;
    left: 0;
    opacity: .5;
    background-color: black;
    z-index: 999;
    width: 100vw;
    height: 100vh;
}

.header .title {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 45px;
    font-weight: 700;
    letter-spacing: -3px;
    margin-left: 80px;
    padding-bottom: 7px;
}

.header .search {
    color: white;
    display: flex;
}

.header .search,
.header .search input {
    background-color: #A7140A;
    border: 1px solid transparent;
}

.header .search label {
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.header .search input {
    outline: none;
    width: 120px;
    height: 30px;
    text-indent: 5px;
    transition: all 0.3s ease;
}

.header .search input::placeholder {
    color: white;
    font-weight: 600;
    text-transform: uppercase;
}

.header .search input:focus-visible::placeholder {
    color: gray;
    font-weight: 500;
}

.header .search input:focus-visible {
    background-color: white;
    color: black;
}

.wrapper01 {
    width: 80vw;
    margin: 0 auto;
}

.wrapper01 .news01 {
    margin-top: 5rem;
    margin-bottom: 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.wrapper01 .news01:hover > :not(:hover) {
    opacity: 0.7;
    transform: scale(0.95);
}

.wrapper01 .news01 .first-section,
.wrapper01 .news01 .second-section,
.wrapper01 .news01 .third-section {
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    cursor: pointer;
}

.wrapper01 .news01 .first-section {
    grid-row: span 2;
    padding: 25px 25px 0 25px;
}

.wrapper01 .news01 .first-section .separator {
    width: 100%;
    height: 175px;
}

.wrapper01 .news01 .first-section .text {
    color: #A6130A;
}

.wrapper01 .news01 .first-section .text h1 {
    font-size: 2.5rem;
    line-height: 45px;
    margin-bottom: 10px;
}

.wrapper01 .news01 .first-section .text ul {
    padding-left: 20px;
    line-height: 30px;
}

.wrapper01 .news01 .second-section,
.wrapper01 .news01 .third-section {
    color: white;
    padding: 25px;
    box-shadow: inset 500px 500px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.wrapper01 .news01 .second-section {
    background: black url('images/img01.jpg') no-repeat 100%;
    background-size: cover;

}

.wrapper01 .news01 .third-section {
    background: black url('images/img02.jpg') no-repeat 100%;
    background-size: cover;
}

.wrapper01 .news01 .second-section h1,
.wrapper01 .news01 .third-section h1 {
    font-size: 2rem;
    line-height: 35px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.wrapper01 .news01 .first-section h2 {
    font-size: 16px;
    font-weight: 500;
}

.wrapper01 .news01 .second-section h2,
.wrapper01 .news01 .third-section h2 {
    font-size: 16px;
    font-weight: 500;
}

.wrapper02 {
    width: 80vw;
    margin: 0 auto;
    display: flex;
    gap: 30px;
}

.wrapper02 .news .section {
    display: flex;
    padding: 35px 0;
    border-bottom: 1px solid lightgray;
    border-top: 1px solid lightgray;
}

.wrapper02 .news .section .content {
    margin-left: 20px;
}

.wrapper02 .news .section .content h3 {
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 10px;
}

.wrapper02 .news .section .content h2 {
    color: #C4170C;
    font-size: 26px;
}

.wrapper02 .news .section .content ul {
    list-style: none;
    color: #C4170C;
}

.wrapper02 .news .section .content li {
    padding: 10px 0 0 0;
}

.wrapper02 .news .section .data {
    font-size: 13px;
    padding-top: 10px;
    color: rgb(109, 109, 109);
}

.wrapper02 .news img {
    width: 300px;
    border-radius: 10px;
}

.wrapper02 .news .more {
    background-color: #C4170C;
    margin: 40px 0 0 0;
    padding: 15px 0;
    border-radius: 15px;
    color: white;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    transition: transform .3s;
}

.wrapper02 .news .more:active {
    transform: scale(.95);
}

.wrapper02 .aside {
    width: 550px;
    height: 545px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.wrapper02 .aside .subtitle {
    padding: 20px;
    border-bottom: 1px solid lightgray;
    font-size: 14px;
}

.wrapper02 .aside .contents {
    padding: 0 20px 20px 20px;
    color: #C4170C;
}

.wrapper02 .aside .content {
    display: flex;
    align-items: center;
    font-size: 11px;
    padding: 30px 0;
    border-bottom: 1px solid lightgray;
}

.wrapper02 .aside .content h2 {
    margin-right: 10px;
    
}

.wrapper02 .aside img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
}

.footer {
    margin-top: 5rem;
    padding: 20px 50px;
    background-color: #C4170C;
    color: white;
}

.footer .title {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-bottom: 60px;
}

.footer .title h3 {
    font-size: 30px;
}

.footer .links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .links .copy {
    display: flex;
    align-items: center;
    gap: 8px;
}

.footer .links .copy p {
    display: flex;
}

.footer .links ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

.footer .links li {
    padding-right: 15px;
    border-right: 1px solid lightgray;
}

.footer .links li:last-child {
    border: none;
}

@media screen and (max-width: 768px) {
    .header-nav {
        display: none;
    }

    .header {
        font-size: 16px;
        padding: 0 10px;
    }

    .header .menu {
        padding: 20px 0;
    }

    .header .menu i {
        font-size: 30px;
    }

    .header .menu span {
        display: none;
    }

    .menu-window-active .menu-nav {
        padding: 25px 20px;
        width: 70vw;
        font-size: 18px;
    }

    .menu-window-active .menu-nav .account .text p {
        line-height: 10px;
    }

    .header .title {
        margin: 0;
    }

    .header .search label {
        padding: 0;
        cursor: pointer;
    }

    .header .search input {
        display: none;
    }

    .header .search {
        padding: 0;
        border: none;
    }

    .header .search i {
        background-color: #C4170C;
        font-size: 25px;
    }

    .wrapper01 {
        width: 100vw;
    }

    .wrapper01 .news01 {
        grid-template-columns: 1fr;
        gap: 30px;
        margin-top: 3rem;
    }

    .wrapper01 .news01:hover > :not(:hover) {
        opacity: 1;
        transform: scale(1);
    }

    .wrapper01 .news01 .first-section,
    .wrapper01 .news01 .second-section,
    .wrapper01 .news01 .third-section {
        border-radius: 0;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    }

    .wrapper01 .news01 .first-section .separator {
        height: 50px;
    }

    .wrapper01 .news01 .first-section .text h1 {
        font-size: 1.9em;
        line-height: 35px;
        margin-bottom: 25px;
    }

    .wrapper01 .news01 .first-section .text ul {
        line-height: 20px;
    }

    .wrapper01 .news01 .first-section .text ul > li {
        margin-bottom: 10px;
    }

    .wrapper01 .news01 .second-section,
    .wrapper01 .news01 .third-section {
        height: 250px;
        padding: 15px;
        box-shadow: inset 500px 500px rgba(0, 0, 0, 0.4);
    }

    .wrapper01 .news01 .second-section h1,
    .wrapper01 .news01 .third-section h1 {
        font-size: 22px;
    }

    .wrapper02,
    .wrapper02 .news {
        width: 100vw;
        display: flex;
        flex-direction: column;
    }


    .wrapper02 .news .section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .wrapper02 .news .section .content {
        margin: 0;
        padding: 10px 0 0 10px;
    }

    .wrapper02 .news .section .content h2 {
        font-size: 23px;
    }

    .wrapper02 .news .section .content li {
        font-size: 16px;
    }

    .wrapper02 .news .section .content p:nth-child(3) {
        margin-top: 10px;
    }

    .wrapper02 .news img {
        border-radius: 0;
        width: 100%;
        vertical-align: bottom;
    }

    .wrapper02 .news .more {
        width: 50vw;
        margin: 0 auto;
        margin-top: 4rem;
        margin-bottom: 2rem;
        border-radius: 5px;
        padding: 15px 0;
        font-size: 20px;
    }

    .wrapper02 .aside {
        width: 100%;
        height: 325px;
        border-radius: 0;
    }

    .wrapper02 .aside .contents {
        padding: 0;
        display: flex;
        align-items: center;
        overflow-x: auto;
    }

    .wrapper02 .aside .content {
        display: flex;
        flex-direction: column;
        padding: 20px 30px;
        border-right: 1px solid lightgray;
    }

    .wrapper02 .aside .content h2 {
        width: 200px;
        margin: 0 0 10px 0;
    }

    .wrapper02 .aside img {
        width: 100%;
    }

    .footer {
        padding: 20px 0;
    }

    .footer .title {
        flex-direction: column;
        gap: 10px;
    }

    .footer .title h3 {
        font-size: 40px;
    }

    .footer .links {
        flex-direction: column-reverse;
    }

    .footer .links ul {
        margin-bottom: 50px;
        align-items: center;
        flex-direction: column;
    }

    .footer .links li {
        border: none;
    }
}