@charset "UTF-8";

@keyframes levitating {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0);
  }
}

:root {
  --normal: Arial, Helvetica, sans-serif;
  --poppins: "Poppins", sans-serif;
  --rochester: "Rochester", cursive;

  --main-background: #131515;
  --backgrounds: #080708;

  --paragraphs: #ced4da;

  --red01: #d00000;
  --red02: #9d0208;
  --red03: #6a040f;
  --red04: #370617;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--poppins);
}

a {
  color: white;
  text-decoration: none;
}

#hero {
  color: white;
  background: black url("images/backgrounds/main-background-desktop.jpg")
    no-repeat center;
  background-size: cover;
  height: 100vh;
  box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.4);
}

#hero header {
  margin: 0 7%;
}

#hero header .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  font-size: 14px;
}

#hero header .info .contact strong {
  font-weight: 600;
}

#hero header .info .social {
  display: flex;
  align-items: center;
}

#hero header .info .social .logos {
  display: flex;
  gap: 12px;
  font-size: 16px;
  margin-left: 7px;
}

#hero header .info .social .logos a:hover {
  color: lightgray;
}

#hero header .nav {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 25px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
}

#hero header .nav p:nth-child(1) {
  font-weight: 600;
  font-size: 25px;
}

#hero header .nav p:nth-child(1) span {
  color: var(--red01);
}

#hero header .nav ul.nav-links {
  list-style: none;
  display: flex;
  gap: 70px;
  font-weight: 600;
  font-size: 18px;
}

#hero header .nav ul.nav-links a {
  transition: color 0.3s ease;
}

#hero header .nav ul.nav-links a:hover {
  color: var(--red01);
}

#hero header .nav i {
  display: flex;
  font-size: 25px;
  cursor: pointer;
  transition: transform 0.3s ease, color 0.3s ease;
}

#hero header .nav i:hover {
  transform: translateY(-5px);
  color: yellow;
}

#hero .title {
  text-align: center;
  display: grid;
  place-items: center;
  margin-top: 5%;
}

#hero .title h2 {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 5px;
  text-transform: uppercase;
  border: 2px solid rgba(255, 255, 255, 0.8);
  padding: 10px;
}

#hero .title h2 span {
  color: var(--red01);
}

#hero .title h1 {
  font-family: var(--rochester);
  font-weight: 500;
  letter-spacing: 4px;
  font-size: 130px;
}

#hero .title a span {
  color: var(--red01);
  font-size: 18px;
}

#hero .title a i {
  display: block;
  font-size: 20px;
  animation: levitating 3s forwards infinite;
}

.separator {
  margin: 6% 0 2% 0;
  text-align: center;
}

.separator h3 {
  margin-top: 10px 0;
  padding-bottom: 15px;
  font-size: 16px;
}

.separator i {
  font-size: 25px;
}

.separator h2 {
  color: var(--red01);
  font-family: var(--rochester);
  font-size: 85px;
}

#highlights {
  padding: 50px;
}

#highlights .container {
  color: white;
  background: black url("images/backgrounds/highlights-background.jpg")
    no-repeat center;
  background-size: cover;
}

#highlights .container .favorites {
  padding: 20px;
  padding-bottom: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

#highlights .container > p {
  text-align: end;
  padding: 20px 0;
  padding-right: 20px;

  & span {
    color: var(--red01);
  }
}

#highlights .container .single {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px;
  border-radius: 5px;
  display: grid;
}

#highlights .container .single:nth-child(4) {
  grid-row: span 2;
}

#highlights .container .single .content {
  padding: 0 70px;
}

#highlights .container .single .content .info h3 {
  font-size: 35px;
  padding: 25px 0 10px 0;
}

#highlights .container .single .content .info h3.steak span {
  color: var(--red01);
}

#highlights .container .single .content .info h3.chicken span {
  background: linear-gradient(
    to right,
    #8b0000,
    #ff0000,
    #008000,
    #228b22,
    #ffffff
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

#highlights .container .single .content .info h3.dough span {
  color: yellow;
}

#highlights .container .single .content .info h3.dessert span {
  color: orangered;
}

#highlights .container .single .content .info h3.drink span {
  color: #f74c3d;
}

#highlights .container .single .content .info p.special {
  margin-top: 10px;
  display: block;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  line-height: 20px;
}

#highlights .container .single .content .info p.special span {
  color: var(--red01);
}

#highlights .container .single .content .rate {
  margin: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#highlights .container .single .content .rate .stars {
  display: flex;
  align-items: center;
  gap: 5px;
}

#highlights .container .single .content .rate .stars i {
  font-size: 18px;
  color: yellow;
}

#highlights .container .single .content .rate .favorite i {
  font-size: 20px;
  transition: color 0.3s ease;
  cursor: pointer;
}

#highlights .container .single:hover .content .rate .favorite i:hover {
  color: red;
}

#highlights .container .single img {
  width: 500px;
  height: 100%;
  margin: 0 auto;
  display: block;
}

/* MENU */

.menu-separator {
  background-color: #faf5f0;
  margin: 6% 0 0 0;
  padding: 2% 0;
}

#menu {
  padding: 0 100px;
  background-color: #faf5f0;
}

#menu .options {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 50px;
}

#menu .options .option {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  padding: 30px 0;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

#menu .options .option i {
  color: var(--red01);
  font-size: 50px;
}

#menu .options .option span {
  font-size: 20px;
}

#menu .options .option:hover {
  background-color: var(--red01);
}

#menu .options .option:hover i,
#menu .options .option:hover span {
  color: white;
}

/* --------------- */

#menu {
  & #steaks {
    display: none;
  }

  & #chickens {
    display: none;
  }

  & #doughs {
    display: none;
  }

  & #salads {
    display: none;
  }

  & #drinks {
    display: block;
  }

  & #desserts {
    display: block;
  }
}

#menu .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin: 5% 0;
}

#menu .container .option {
  background-color: white;
  display: flex;
  align-items: center;
  padding: 20px;
  border: 2px solid rgba(0, 0, 0, 0.2);
}

#menu .container .option .content {
  padding: 0 20px;
  width: 100%;
}

#menu .container .option .content .price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

#menu .container .option .price h4 {
  font-size: 20px;
  font-weight: 600;
}

#menu .container .option .price h4::after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 110px;
  height: 1px;
  margin-left: 10px;
  margin-top: 15px;
  background-color: rgba(128, 128, 128, 0.5);
}

#menu .container .option .price span {
  font-family: var(--rochester);
  font-size: 20px;
  font-weight: 600;
  color: var(--red01);
}

#menu .container .option p {
  font-size: 14px;
}

#menu .container img {
  width: 200px;
  height: 100%;
}

/* ------------- */

#menu .special-container {
  & .cover {
    color: white;
    text-align: center;
    background: black no-repeat center;
    background-size: cover;
    margin-bottom: 20px;

    & .background {
      padding: 80px 0;
      background-color: rgba(0, 0, 0, 0.4);
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;

      & h2 {
        font-size: 40px;
        text-shadow: 1px 1px 10px rgba(0, 0, 0, 1);
        border-bottom: 1px solid white;
        line-height: 40px;
      }

      & i {
        color: var(--red01);
        font-size: 25px;
      }
    }
  }

  & .cv-drinks {
    background-image: url("images/backgrounds/background-drink.jpg");
  }

  & .cv-desserts {
    background-image: url("images/desserts/dessert02.jpg");
  }

  & .menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
    border: 1px solid black;
    color: white;

    & .content {
      background-color: rgba(0, 0, 0, 0.6);
      padding: 10px;
      border: 1px solid black;

      & h4 {
        font-size: 30px;

        & span.d1 {
          color: pink;
        }

        & span.d2 {
          color: #f26a07;
        }
      }

      & h4.ob-title {
        background: linear-gradient(
          to right,
          gold,
          red,
          limegreen,
          blue,
          white,
          white,
          white,
          white,
          white,
          white,
          white
        );
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
      }

      & p {
      }
    }

    & .openbar {
      grid-column: span 2;
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      gap: 20px;
    }

    & img {
      width: 100%;
      height: auto;
    }
  }

  & .drinks-menu {
    background: linear-gradient(-135deg, yellow, orange, salmon, #ff1067);
  }

  & .desserts-menu {
    background: linear-gradient(135deg, #6c2a29, #861902, #c36408);
  }
}
