@charset "UTF-8";

@keyframes levitating {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0);
  }
}

:root {
  --normal: Arial, Helvetica, sans-serif;
  --poppins: "Poppins", sans-serif;
  --rochester: "Rochester", cursive;

  --main-background: #131515;
  --backgrounds: #080708;

  --paragraphs: #c3c6c9;

  --red01: #d00000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  font-family: var(--poppins);
}

a {
  color: white;
  text-decoration: none;
}

#hero {
  color: white;
  background: black url("images/backgrounds/main-background-desktop.jpg")
    no-repeat center;
  background-size: cover;
  height: 100vh;
  box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.4);
}

#hero header {
  margin: 0 7%;
}

#hero header .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  font-size: 14px;
}

#hero header .info .contact strong {
  font-weight: 600;
}

#hero header .info .social {
  display: flex;
  align-items: center;
}

#hero header .info .social .logos {
  display: flex;
  gap: 12px;
  font-size: 16px;
  margin-left: 7px;
}

#hero header .info .social .logos a:hover {
  color: lightgray;
}

#hero header .nav {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 25px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
}

#hero header .nav p:nth-child(1) {
  font-weight: 600;
  font-size: 25px;
}

#hero header .nav p:nth-child(1) span {
  color: var(--red01);
}

#hero header .nav ul.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 70px;
}

#hero header .nav ul.nav-links a {
  position: relative;
  font-weight: 600;
  font-size: 20px;
}

#hero header .nav ul.nav-links a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2.5px;
  background-color: var(--red01);
  border-radius: 10px;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

#hero header .nav ul.nav-links a:hover::after {
  transform: scaleX(1);
}

#hero header .nav ul.nav-links a img.pizza {
  width: 50px;
}

#hero header .nav i {
  display: flex;
  font-size: 25px;
  cursor: pointer;
  transition: transform 0.3s ease, color 0.3s ease;
}

#hero header .nav i:hover {
  transform: translateY(-5px);
  color: yellow;
}

#hero header .nav i#liked {
  display: none;
}

#hero .title {
  text-align: center;
  display: grid;
  place-items: center;
  margin-top: 5%;
}

#hero .title h2 {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 5px;
  text-transform: uppercase;
  border: 2px solid rgba(255, 255, 255, 0.8);
  padding: 10px;
}

#hero .title h2 span {
  color: var(--red01);
}

#hero .title h1 {
  font-family: var(--rochester);
  font-weight: 500;
  letter-spacing: 3px;
  font-size: 130px;
}

#hero .title a span {
  color: var(--red01);
  font-size: 18px;
}

#hero .title a i {
  display: block;
  font-size: 20px;
  line-height: 15px;
  animation: levitating 3s forwards infinite;
}

.separator {
  text-align: center;
  margin: 5% 0;
}

.separator h2 {
  color: var(--red01);
  font-family: var(--rochester);
  font-size: 85px;
  margin-bottom: 15px;
}

.separator h3 {
  margin-block: -10px 20px;
}

.separator i {
  font-size: 25px;
}

#highlights {
  padding: 0 50px;
}

#highlights .container-highlights {
  color: white;
  background: black url("images/backgrounds/highlights-background.jpg")
    no-repeat center;
  background-size: cover;
}

#highlights .container-highlights .favorites {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

#highlights .container-highlights > p {
  text-align: end;
  padding: 20px 0;
  padding-right: 20px;

  & span {
    color: var(--red01);
  }
}

#highlights .container-highlights .single {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px;
  border-radius: 5px;
  display: grid;
}

#highlights .container-highlights .single:nth-child(4) {
  grid-row: span 2;
}

#highlights .container-highlights .single .content {
  padding: 0 70px;
}

#highlights .container-highlights .single .content .info h3 {
  font-size: 35px;
  padding: 25px 0 10px 0;
}

#highlights .container-highlights .single .content .info h3.steak span {
  color: var(--red01);
}

#highlights .container-highlights .single .content .info h3.chicken span {
  background: linear-gradient(
    to right,
    #8b0000,
    #ff0000,
    #008000,
    #228b22,
    #ffffff
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

#highlights .container-highlights .single .content .info h3.dough span {
  color: yellow;
}

#highlights .container-highlights .single .content .info h3.dessert span {
  color: orangered;
}

#highlights .container-highlights .single .content .info h3.drink span {
  color: #f74c3d;
}

#highlights .container-highlights .single .content .info p.special {
  margin-top: 10px;
  display: block;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  line-height: 20px;
}

#highlights .container-highlights .single .content .info p.special span {
  color: var(--red01);
}

#highlights .container-highlights .single .content .rate,
.special-container .rate {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#highlights .container-highlights .single .content .rate .stars,
.special-container .rate .stars {
  display: flex;
  align-items: center;
  gap: 5px;
}

#highlights .container-highlights .single .content .rate .stars i,
.special-container .rate .stars i {
  font-size: 18px;
  color: yellow;
}

i.favorite,
i.favorited {
  color: red;
  font-size: 20px;
  transition: color 0.3s ease;
  cursor: pointer;
}

i.favorited {
  font-size: 20px;
  display: none;
  cursor: pointer;
}

.special-container .drinks-menu i.favorite {
  color: black;
}

.special-container .desserts-menu i.favorite {
  color: white;
}

#highlights .container .single img {
  width: 500px;
  height: 100%;
  margin: 0 auto;
  display: block;
}

/* MENU */

.menu-separator {
  background-color: #faf5f0;
  padding: 2% 0;
}

#menu {
  padding: 66px 100px 0 100px;
  background-color: #faf5f0;
}

#menu .options {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 50px;
}

#menu .options .option {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  padding: 30px 0;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

#menu .options .option i {
  color: var(--red01);
  font-size: 50px;
}

#menu .options .option span {
  font-size: 20px;
}

#menu .options .selected {
  background-color: var(--red01);
  color: white;

  & i {
    color: white;
  }
}

#menu .options .option:hover {
  background-color: var(--red01);
}

#menu .options .option:hover i,
#menu .options .option:hover span {
  color: white;
}

/* --------------- */

#menu {
  & #servings {
    display: grid;
  }

  & #steaks {
    display: none;
  }

  & #chickens {
    display: none;
  }

  & #doughs {
    display: none;
  }

  & #salads {
    display: none;
  }

  & #drinks {
    display: block;
  }

  & #desserts {
    display: block;
  }
}

#menu .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin: 5% 0;
}

#menu .container .option {
  background-color: white;
  display: flex;
  align-items: center;
  padding: 20px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

#menu .container .option:hover {
  transform: scale(1.05);
}

#menu .container .option .content {
  padding: 0 20px;
  width: 100%;
}

#menu .container .option .content .price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

#menu .container .option .price h4 {
  font-size: 20px;
  font-weight: 600;
}

#menu .container .option .price h4::after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 110px;
  height: 1px;
  margin-left: 10px;
  margin-top: 15px;
  background-color: rgba(128, 128, 128, 0.5);
}

#menu .container .option .price span {
  font-family: var(--rochester);
  font-size: 20px;
  font-weight: 600;
  color: var(--red01);
}

#menu .container .option p {
  font-size: 15px;
}

#menu .container img {
  width: 200px;
  height: 100%;
}

/* ------------- */

#menu .special-container {
  & .cover {
    color: white;
    background: black no-repeat 100%;
    border: 1px solid black;
    background-size: cover;
    margin-bottom: 20px 0;

    & .background {
      padding: 80px 0;
      background-color: rgba(0, 0, 0, 0.4);
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;

      & h2 {
        font-size: 40px;
        text-shadow: 1px 1px 10px rgba(0, 0, 0, 1);
      }

      & i {
        color: var(--red01);
        font-size: 25px;
      }
    }
  }

  & .cv-drinks {
    background-image: url("images/backgrounds/background-drink.jpg");
  }

  & .cv-desserts {
    background-image: url("images/backgrounds/background-desserts.jpg");
  }

  & .menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px 0;
    margin-bottom: 5%;

    & .content {
      border: 1px solid black;
      background-color: white;

      & .price {
        padding: 20px;
      }

      & .title {
        margin-bottom: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        & h4 {
          font-size: 30px;
        }

        & span:nth-child(2) {
          font-family: var(--rochester);
          font-size: 25px;
          font-weight: 600;
          color: var(--red01);
        }
      }
    }
  }

  & .drinks-menu {
    & span.b1 {
      color: rgb(255, 70, 255);
    }

    & span.b2 {
      color: #f26a07;
    }

    & .openbar {
      grid-column: span 2;
      display: grid;
      grid-template-columns: 1fr 1fr;
      text-align: center;

      & .price {
        background: url("images/backgrounds/openbar-background.jpg") no-repeat
          100%;
        background-size: cover;
        padding: 0;
        color: white;

        & .background {
          background-color: rgba(0, 0, 0, 0.4);
          height: 100%;
          padding: 20px;
        }

        & h4.ob-title {
          margin-top: 35px;
          font-size: 60px;
          display: inline-block;
          background: linear-gradient(to right, red, yellow, limegreen, blue);
          -webkit-background-clip: text;
          background-clip: text;
          color: transparent;
        }

        & p span {
          font-size: 25px;
          color: red;
        }
      }
    }
  }

  & .desserts-menu {
    color: white;
    background: linear-gradient(135deg, #6c2a29, #861902, #c36408);
    padding: 20px;
    margin-top: 20px;

    & .content {
      background-color: rgba(0, 0, 0, 0.6);

      & span.d1 {
        color: #d59594;
      }

      & span.d2 {
        color: #ae4800;
      }
    }
  }
}

.container-img {
  overflow: hidden;

  & img {
    width: 100%;
    height: auto;
    vertical-align: middle;
    transition: transform 0.3s ease;
  }

  & img:hover {
    transform: scale(1.1);
  }
}

#reservation {
  margin: 3% 0;
  padding: 0 75px;
  background-color: #f5f5f5;
  display: flex;

  & .form {
    background-color: red;
    color: white;
    padding: 40px 30px 20px 30px;
    margin-right: 75px;
    width: 500px;

    & span {
      font-size: 30px;
    }

    & h1 {
      font-size: 50px;
      margin-top: -20px;
      margin-bottom: 10px;
    }

    & form {
      display: flex;
      flex-direction: column;

      & input {
        background-color: transparent;
        border: 1px solid white;
        color: white;
        outline: none;
        width: 100%;
        height: 50px;
        padding: 10px;
        margin-bottom: 10px;
        font-size: 15px;
      }

      & ::placeholder {
        color: white;
        font-size: 15px;
      }
    }

    & button[type="submit"] {
      border: 1px solid black;
      background-color: white;
      margin-top: 20px;
      width: 100%;
      height: 60px;
      font-size: 20px;
      border-radius: 5px;
      cursor: pointer;
    }

    & button[type="submit"]:hover {
      background-color: #f5f5f5;
    }
  }

  & .content {
    padding-top: 100px;
    display: flex;

    & .title {
      & h1 {
        font-size: 50px;
        font-weight: 500;
      }

      & span {
        color: var(--red01);
        font-size: 25px;
        font-family: var(--rochester);
        font-weight: 600;
        letter-spacing: 3px;
      }

      & p {
        margin: 20px 0 40px 0;
      }

      & img {
        transform: rotate(-15deg);
        margin-left: -10px;
        border-bottom: 2px solid var(--red01);
      }
    }

    img.chief {
      width: 400px;
    }
  }
}

.parallax {
  height: 450px;
  background: black no-repeat 100% fixed;
  background-size: cover;

  & .content {
    width: 100%;
    height: 100%;
    display: grid;
    place-content: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;

    & h2 {
      font-size: 30px;
      letter-spacing: 3px;
      margin-bottom: 5px;
    }

    & h1 {
      font-size: 60px;
      font-family: var(--rochester);
      font-weight: 500;
    }
  }
}

.parallax01 {
  background-image: url("images/backgrounds/parallax-background01.jpg");
}

.parallax02 {
  background-image: url("images/backgrounds/parallax-background02.jpg");
}

a.toTop {
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  margin: 20px;
  border: 1px solid black;
  background-color: white;
  border-radius: 50%;
  transition: background-color 0.3s ease;

  & i {
    font-size: 50px;
    color: black;
  }
}

a.toTop:hover {
  border-radius: 50%;
  background-color: rgb(193, 193, 193);
}

.prop {
  margin-top: 8%;
  padding: 100px 0;
  background-color: red;
  color: white;
  display: grid;
  place-items: center;

  & h1 {
    font-size: 40px;
    margin-bottom: 15px;
  }

  & button {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    font-size: 20px;
    padding: 10px 20px;
    cursor: pointer;
    transition: transform 0.3s ease;
  }

  & button:hover {
    transform: scale(1.05);
  }
}

footer {
  background-color: black;
  padding: 40px 75px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;

  & .col {
    color: var(--paragraphs);

    & h2 {
      color: white;
      font-size: 28px;
      margin-bottom: 50px;
      letter-spacing: 2px;
    }
  }

  & .col01 {
    & h2 span {
      color: var(--red01);
    }

    & .logos {
      margin-top: 20px;

      & i {
        border: 1px solid red;
        border-radius: 50%;
        font-size: 30px;
        padding: 5px;
        margin-right: 5px;
        transition: all 0.3s ease;
      }

      & i:hover {
        border-color: transparent;
        color: red;
      }
    }
  }

  & .col02 {
    p {
      margin-bottom: 25px;
      line-height: 30px;
    }
  }

  & .col03 {
    margin-right: 75px;

    p {
      margin-bottom: 6px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      & span:nth-child(1) {
        color: white;
      }
    }
  }

  & .col04 {
    & ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 20px;

      & a {
        color: var(--paragraphs);
        transition: color 0.3s ease;
      }

      & a:hover {
        color: white;
      }
    }
  }
}
