/* CONFIG. */

@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --transition: all 0.3s;
}

html {
    scroll-behavior: smooth;
}

@keyframes levitate1 {
    0%, 100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-50%);
    }
}

@keyframes levitate2 {
    0%, 100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(25%);
    }
}

/* BODY */

/* SOLO TAG'S */

a {
    cursor: pointer;
    text-decoration: none;
    transition: var(--transition);
}

hr {
    width: 90vw;
    margin: auto;
}

.info {
    display: inline-block;
    padding: 10px;
    margin-bottom: 20px;
    background-color: rgb(231, 231, 231);
    color: gray;
}

/* HERO */
.hero {
    height: 100vh;
}

.hr-header {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    transition: all 0.3s;
}

.hr-header:hover {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.hr-header .hd-logo,
.hr-header .header-links {
    display: flex;
    align-items: center;
}

.hr-header .hd-logo {
    font-size: 1.5rem;
    gap: 20px;
}

.hr-header .hd-logo i {
    color: black;
    font-size: 2.5rem;
}

.hr-header .hd-links {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    gap: 40px;
}

.hr-header .hd-links i {
    display: none;
    font-size: 2rem;
    cursor: pointer;
}

.hr-header .hd-links a {
    color: black;
}

.hr-header .hd-links a:hover {
    transform: translateY(-5px);
}

.hr-profile {
    width: 80vw;
    margin: auto;
    margin-top: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.pf-content .pf-name h1 {
    font-size: 4.5rem;
    margin-bottom: 10px;
}

.pf-content .pf-name p {
    font-size: 1.3rem;
    margin-bottom: 30px;
}

.pf-content .pf-social {
    font-size: 2rem;
    display: flex;
    gap: 20px;
}

.pf-content .pf-social a {
    color: white;
    background-color: black;
    border: 2px solid transparent;
    display: flex;
    padding: 5px;
}

.pf-content .pf-social a:hover {
    color: black;
    background-color: white;
    border: 2px solid black;
}

.hr-profile .pf-img img {
    width: 100%;
    height: auto;
    border-radius: 0 50% 0 0;
}

/* PAGE */

.page {
    width: 80vw;
    margin: auto;
}

/* PORTFOLIO */

.portfolio {
    margin: 150px 0;
    display: flex;
    gap: 50px;
}

.portfolio .pt-content .pt-text h2 {
    display: flex;
    flex-wrap: wrap;
    font-size: 2.5rem;
    margin-bottom: 30px;
}

.portfolio .pt-content .pt-text p {
    margin-bottom: 20px;
}

.portfolio .pt-content .pt-link {
    margin-top: 62px;
    animation: levitate1 2s ease-in-out infinite;
}

.portfolio .pt-content .pt-link a {
    color: white;
    background-color: black;
    padding: 15px 20px;
}

.portfolio .pt-content .pt-link a:hover {
    opacity: 0.8;
}

/* SERVICES */

.services {
    margin-bottom: 150px;
}

.services .sv-content {
    display: flex;
    gap: 50px;
}

.sv-content .sv-itens {
    border: 1px solid black;
}

.sv-itens .sv-info {
    font-size: 1.7rem;
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.sv-info i {
    font-size: 3rem;
}

.sv-itens .sv-text {
    padding: 20px;
}

.sv-itens .html { color: #FF5C29; }

.sv-itens .css { color: #3D9DD7; }

.sv-itens .javascript { color: #F7E025; }

/* PROJECTS */

.projects .pj-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.pj-content .pj-itens {
    width: 350px;
    border: 1px solid black;
    margin-bottom: 70px;
}

.pj-itens .pj-img {
    overflow: hidden;
}

.pj-img img {
    width: 100%;
    height: auto;
    transition: all 0.5s;
    vertical-align: bottom;
}

.pj-img img:hover {
    transform: scale(1.1);
}

.pj-itens .pj-text {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    padding: 20px;
}

.pj-itens .pj-text h3 {
    font-size: 1.7rem;
    margin-bottom: 10px;
}

.pj-itens .pj-text p {
    margin-bottom: 20px;
}

.pj-itens .pj-text a {
    display: inline-block;
    color: white;
    background-color: black;
    padding: 15px 30px;
}

.pj-itens .pj-text a:hover {
    opacity: 0.8;
}

/* BUTTON TO TOP */

.top {
    margin-bottom: 70px;
    text-align: center;
}

.top a {
    border-radius: 50%;
    color: white;
    background-color: black;
    padding: 10px;
    display: inline-flex;
    animation: levitate2 3s ease-in-out infinite;
    transition: all 0.5s;
}

.top a:hover {
    opacity: 0.8;
}

.top i {
    font-size: 3rem;
}

/* FOOTER */

.footer {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 100px 0;
    font-size: 1.3rem;
}

.footer .ft-logo i {
    font-size: 4rem;
    color: white;
}

/* MEDIA QUERIE */

@media screen and (max-width: 768px) {
    hr {
        margin-top: 50px;
    }

    .hr-header .hd-logo { font-size: 1.3rem; }

    .hr-header .hd-logo i { font-size: 2rem; }

    .hr-header .hd-links a { display: none; }

    .hr-header .hd-links i { display: block; }

    .hr-profile {
        margin-top: 40px;
        flex-direction: column-reverse;
        align-items: flex-start;
    }

    .hr-profile .pf-img img { width: 300px; }

    .pf-content .pf-name h1 {
        margin-top: 20px;
        font-size: 2.5rem;
    }

    .pf-content .pf-name p { font-size: 1.2rem; }

    .pf-content .pf-social { font-size: 1.8rem; }

    .portfolio {
        flex-direction: column;
        margin-top: 100px;
    }

    .portfolio img { width: 300px; }

    .services .sv-content {
        flex-direction: column;
        gap: 70px;
    }

    .top i { font-size: 2.5rem; }

    .footer {
        flex-direction: column;
        gap: 50px;
        text-align: center;
    }
}